enjoyReservation/src/main/resources/enjoyReservation.wsdl

<?xml version="1.0"?>
<definitions name="EnjoyReservationService"
        targetNamespace="http://it.univaq.disim.sose.cald/enjoyReservation"
	xmlns:tns="http://it.univaq.disim.sose.cald/enjoyReservation"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.cald/enjoyReservation">
			<xsd:element name="insertCinemaRequest" type="tns:insertCinemaRequest"/> 
			<xsd:element name="getCinemaInfoRequest" type="tns:getCinemaInfoRequest"/> 
			<xsd:element name="getSingleCinemaInfoRequest" type="tns:getSingleCinemaInfoRequest" />
			<xsd:element name="bookingCinemaRequest" type="tns:bookingCinemaRequest"/> 
			<xsd:element name="updateCinemaRequest" type="tns:updateCinemaRequest"/>
			<xsd:element name="insertRestaurantRequest" type="tns:insertRestaurantRequest"/> 
			<xsd:element name="getRestaurantInfoRequest" type="tns:getRestaurantInfoRequest"/> 
			<xsd:element name="getSingleRestaurantInfoRequest" type="tns:getSingleRestaurantInfoRequest" />
			<xsd:element name="bookingRestaurantRequest" type="tns:bookingRestaurantRequest"/>	
			<xsd:element name="updateRestaurantRequest" type="tns:updateRestaurantRequest"/>
			<xsd:element name="accountSignupRequest" type="tns:accountSignupRequest"/>
			<xsd:element name="accountLoginRequest" type="tns:accountLoginRequest"/>
			<xsd:element name="accountLogoutRequest" type="tns:accountLogoutRequest"/>
			<xsd:element name="accountSessionRequest" type="tns:accountSessionRequest"/>
			<xsd:element name="cinemaOwnerRequest" type="tns:cinemaOwnerRequest"/>
			<xsd:element name="restaurantOwnerRequest" type="tns:restaurantOwnerRequest"/>
			
			<xsd:element name="insertCinemaResponse" type="tns:insertCinemaResponse"/> 
			<xsd:element name="getCinemaInfoResponse" type="tns:getCinemaInfoResponse"/> 
			<xsd:element name="getSingleCinemaInfoResponse" type="tns:getSingleCinemaInfoResponse" />
			<xsd:element name="bookingCinemaResponse" type="tns:bookingCinemaResponse"/> 
			<xsd:element name="updateCinemaResponse" type="tns:updateCinemaResponse"/>
			<xsd:element name="insertRestaurantResponse" type="tns:insertRestaurantResponse"/> 
			<xsd:element name="getRestaurantInfoResponse" type="tns:getRestaurantInfoResponse"/> 
			<xsd:element name="getSingleRestaurantInfoResponse" type="tns:getSingleRestaurantInfoResponse" />
			<xsd:element name="bookingRestaurantResponse" type="tns:bookingRestaurantResponse"/> 
			<xsd:element name="updateRestaurantResponse" type="tns:updateRestaurantResponse"/>
			<xsd:element name="accountSignupResponse" type="tns:accountSignupResponse"/>
			<xsd:element name="accountLoginResponse" type="tns:accountLoginResponse"/>
			<xsd:element name="accountLogoutResponse" type="tns:accountLogoutResponse"/>
			<xsd:element name="accountSessionResponse" type="tns:accountSessionResponse"/>
			<xsd:element name="cinemaOwnerResponse" type="tns:cinemaOwnerResponse"/>
			<xsd:element name="restaurantOwnerResponse" type="tns:restaurantOwnerResponse"/>
			
			<xsd:element name="getRestaurantInfoFault" type="tns:getRestaurantInfoFault"/>
			<xsd:element name="getCinemaInfoFault" type="tns:getCinemaInfoFault"/>
			<xsd:element name="bookingCinemaFault" type="tns:bookingCinemaFault"/>
			<xsd:element name="bookingRestaurantFault" type="tns:bookingRestaurantFault"/>
			<xsd:element name="insertRestaurantFault" type="tns:insertRestaurantFault"/>
			<xsd:element name="updateRestaurantFault" type="tns:updateRestaurantFault"/>
			<xsd:element name="insertCinemaFault" type="tns:insertCinemaFault"/>
			<xsd:element name="updateCinemaFault" type="tns:updateCinemaFault"/>
			<xsd:element name="accountSignupFault" type="tns:accountSignupFault"/>
			<xsd:element name="accountLoginFault" type="tns:accountLoginFault"/>
			<xsd:element name="accountLogoutFault" type="tns:accountLogoutFault"/>
			<xsd:element name="accountSessionFault" type="tns:accountSessionFault"/>
			<xsd:element name="cinemaOwnerFault" type="tns:cinemaOwnerFault"/>
			<xsd:element name="restaurantOwnerFault" type="tns:restaurantOwnerFault"/>
			
			<!-- Resturant Info -->
			<!-- Request -->
			<xsd:complexType name="getRestaurantInfoRequest">
				<xsd:sequence>
					<xsd:element name="city" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- response -->
			<xsd:complexType name="getRestaurantInfoResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="restaurants" type="tns:OSMRestaurantType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMRestaurantType">
				<xsd:sequence>
					<xsd:element name="lat" minOccurs="0" type="xsd:double" />
					<xsd:element name="lon" minOccurs="0" type="xsd:double" />
					<xsd:element name="restaurantInfo" type="tns:OSMRestaurantInfoType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMRestaurantInfoType">
				<xsd:sequence>
					<xsd:element name="name" minOccurs="0" type="xsd:string" />
					<xsd:element name="address" type="xsd:string" />
					<xsd:element name="cap" type="xsd:string" />
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="telephoneNumber" minOccurs="0" type="xsd:string" />
					<xsd:element name="style" type="xsd:string" />
					<xsd:element name="cuisine" type="xsd:string" />
					<xsd:element name="menu" type="xsd:string" />
					<xsd:element name="discount" minOccurs="0" type="tns:OSMDiscountType" />
					<xsd:element name="max_seats" type="xsd:int" />
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMDiscountType">
				<xsd:sequence>
					<xsd:element name="discount_id" type="xsd:long" />
					<xsd:element name="cinema" type="xsd:int" />
					<xsd:element name="price" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Single Restaurant Info -->
			<!-- Request -->
			<xsd:complexType name="getSingleRestaurantInfoRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Response -->
			<xsd:complexType name="getSingleRestaurantInfoResponse">
				<xsd:sequence>
					<xsd:element name="restaurant" type="tns:OSMRestaurantType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Cinema Info -->
			<!-- Request -->
			<xsd:complexType name="getCinemaInfoRequest">
				<xsd:sequence>
					<xsd:element name="city" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- response -->
			<xsd:complexType name="getCinemaInfoResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="cinemas" type="tns:OSMCinemaType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMCinemaType">
				<xsd:sequence>
					<xsd:element name="lat" minOccurs="0" type="xsd:double" />
					<xsd:element name="lon" minOccurs="0" type="xsd:double" />
					<xsd:element name="cinemaInfo" type="tns:OSMCinemaInfoType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMCinemaInfoType">
				<xsd:sequence>
					<xsd:element name="id_cinema" minOccurs="0" type="xsd:long" />
					<xsd:element name="name" minOccurs="0" type="xsd:string" />
					<xsd:element name="address" type="xsd:string" />
					<xsd:element name="cap" type="xsd:string" />
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="telephoneNumber" minOccurs="0" type="xsd:string" />
					<xsd:element name="hall" maxOccurs="unbounded" minOccurs="1" type="tns:OSMHallType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMHallType">
				<xsd:sequence>
					<xsd:element name="id_hall" type="xsd:long" />
					<xsd:element name="number" type="xsd:int" />
					<xsd:element name="seatsNumber" type="xsd:int" />
					<xsd:element name="hallInfo" maxOccurs="unbounded" minOccurs="1" type="tns:OSMHallInfoType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMHallInfoType">
				<xsd:sequence>
					<xsd:element name="id_hallFilm" minOccurs="0" type="xsd:long" />
					<xsd:element name="time" type="xsd:dateTime" />
					<xsd:element name="film" type="tns:OSMFilmType" />
					<xsd:element name="price" type="xsd:float" />
					<xsd:element name="freeSeatsNumber" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OSMFilmType">
				<xsd:sequence>
					<xsd:element name="id_film" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="director" type="xsd:string" />
					<xsd:element name="cast" type="xsd:string" />
					<xsd:element name="duration" type="xsd:int" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="plot" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Single Cinema Info -->
			<!-- Request -->
			<xsd:complexType name="getSingleCinemaInfoRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="getSingleCinemaInfoResponse">
				<xsd:sequence>
					<xsd:element name="cinema" type="tns:OSMCinemaType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--CinemaBooking-->
			<!--Request-->
			<xsd:complexType name="bookingCinemaRequest">
					<xsd:sequence>
						<xsd:element name="id_hall" type="xsd:int" />
						<xsd:element name="id_film" type="xsd:int" />
						<xsd:element name="id_utente" type="xsd:int" />
						<xsd:element name="seats" type="xsd:int"/>
						<xsd:element name="schedule" type="xsd:dateTime"/>
					</xsd:sequence>
			</xsd:complexType>
			
			<!--Response-->
			<xsd:complexType name="bookingCinemaResponse">
					<xsd:sequence>
						<xsd:element name="accepted" type="xsd:string" />
					</xsd:sequence>
			</xsd:complexType>
					
			<!--RestaurantBooking-->
			<!--Request-->
			<xsd:complexType name="bookingRestaurantRequest">
					<xsd:sequence>
						<xsd:element name="restaurant" type="xsd:int" />
						<xsd:element name="seats" type="xsd:int"/>
						<xsd:element name="user" type="xsd:int"/>
						<xsd:element name="schedule" type="xsd:dateTime"/>
					</xsd:sequence>
			</xsd:complexType>
			
			<!--Response-->
			<xsd:complexType name="bookingRestaurantResponse">
					<xsd:sequence>
						<xsd:element name="accepted" type="xsd:string" />
					</xsd:sequence>
			</xsd:complexType>
			
			<!--insertRestaurant-->
			<!--request-->
			<xsd:complexType name="insertRestaurantRequest">
				<xsd:sequence>
					<xsd:element name="restaurant" type="tns:OSMRestaurantType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="insertRestaurantResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--updateRestaurant-->
			<!--request-->
			<xsd:complexType name="updateRestaurantRequest">
				<xsd:sequence>
					<xsd:element name="restaurant" type="tns:OSMRestaurantType" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!--response-->
			<xsd:complexType name="updateRestaurantResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--insertCinema-->
			<!--request-->
			<xsd:complexType name="insertCinemaRequest">
				<xsd:sequence>
					<xsd:element name="cinema" type="tns:OSMCinemaType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="insertCinemaResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--updateCinema-->
			<!--request-->
			<xsd:complexType name="updateCinemaRequest">
				<xsd:sequence>
					<xsd:element name="cinema" type="tns:OSMCinemaType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="updateCinemaResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--accountSignup-->
			<!--request-->
			<xsd:complexType name="accountSignupRequest">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="accountSignupResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--accountLogin-->
			<!--request-->
			<xsd:complexType name="accountLoginRequest">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="accountLoginResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--accountLogout-->
			<!--request-->
			<xsd:complexType name="accountLogoutRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="accountLogoutResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--checkSession-->
			<!--request-->
			<xsd:complexType name="accountSessionRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="accountSessionResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--checkCinemaOwner-->
			<!--request-->
			<xsd:complexType name="cinemaOwnerRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="cinemaOwnerResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--checkRestaurantOwner-->
			<!--request-->
			<xsd:complexType name="restaurantOwnerRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!--response-->
			<xsd:complexType name="restaurantOwnerResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
		
			<!--Fault Types-->
			<xsd:complexType name="getRestaurantInfoFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getCinemaInfoFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bookingCinemaFault">
				<xsd:sequence>
                        <xsd:element name="faultBook" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bookingRestaurantFault">
				<xsd:sequence>
                        <xsd:element name="faultBook" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="insertRestaurantFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateRestaurantFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="insertCinemaFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateCinemaFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accountSignupFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accountLoginFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accountLogoutFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accountSessionFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="cinemaOwnerFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="restaurantOwnerFault">
				<xsd:sequence>
                        <xsd:element name="faultInsert" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!--Message  -->
	<!--Resturant info   -->
	<message name="getRestaurantInfoRequest">
        <part name="parameters" element="tns:getRestaurantInfoRequest"/>
    </message>
    <message name="getRestaurantInfoResponse">
        <part name="parameters" element="tns:getRestaurantInfoResponse"/>
    </message>
    <!-- Single Cinema Info -->
	<message name="getSingleCinemaInfoRequest">
		<part name="parameters" element="tns:getSingleCinemaInfoRequest">
		</part>
	</message>
	<message name="getSingleCinemaInfoResponse">
		<part name="parameters" element="tns:getSingleCinemaInfoResponse">
		</part>
	</message>
	<!-- Single Restaurant Info -->
	<message name="getSingleRestaurantInfoRequest">
		<part name="parameters" element="tns:getSingleRestaurantInfoRequest">
		</part>
	</message>
	<message name="getSingleRestaurantInfoResponse">
		<part name="parameters" element="tns:getSingleRestaurantInfoResponse">
		</part>
	</message>
	<!--Restaurant Booking-->
	<message name="bookingRestaurantRequest">
        <part name="parameters" element="tns:bookingRestaurantRequest"/>
    </message>
    <message name="bookingRestaurantResponse">
        <part name="parameters" element="tns:bookingRestaurantResponse"/>
    </message>
	<!--Cinema info   -->
	<message name="getCinemaInfoRequest">
        <part name="parameters" element="tns:getCinemaInfoRequest"/>
    </message>
    <message name="getCinemaInfoResponse">
        <part name="parameters" element="tns:getCinemaInfoResponse"/>
    </message>
	<!--Cinema Booking-->
	<message name="bookingCinemaRequest">
        <part name="parameters" element="tns:bookingCinemaRequest"/>
    </message>
    <message name="bookingCinemaResponse">
        <part name="parameters" element="tns:bookingCinemaResponse"/>
    </message>
	<!--insert Restaurant-->
	<message name="insertRestaurantRequest">
        <part name="parameters" element="tns:insertRestaurantRequest"/>
    </message>
    <message name="insertRestaurantResponse">
        <part name="parameters" element="tns:insertRestaurantResponse"/>
    </message>
	<!--update Restaurant-->
	<message name="updateRestaurantRequest">
        <part name="parameters" element="tns:updateRestaurantRequest"/>
    </message>
    <message name="updateRestaurantResponse">
        <part name="parameters" element="tns:updateRestaurantResponse"/>
    </message>
	<!--insert Cinema-->
	<message name="insertCinemaRequest">
        <part name="parameters" element="tns:insertCinemaRequest"/>
    </message>
    <message name="insertCinemaResponse">
        <part name="parameters" element="tns:insertCinemaResponse"/>
    </message>
	<!--update Cinema-->
	<message name="updateCinemaRequest">
        <part name="parameters" element="tns:updateCinemaRequest"/>
    </message>
    <message name="updateCinemaResponse">
        <part name="parameters" element="tns:updateCinemaResponse"/>
    </message>
    <!--Account Signup-->
	<message name="accountSignupRequest">
        <part name="parameters" element="tns:accountSignupRequest"/>
    </message>
    <message name="accountSignupResponse">
        <part name="parameters" element="tns:accountSignupResponse"/>
    </message>
    <!--Account Login-->
	<message name="accountLoginRequest">
        <part name="parameters" element="tns:accountLoginRequest"/>
    </message>
    <message name="accountLoginResponse">
        <part name="parameters" element="tns:accountLoginResponse"/>
    </message>
     <!--Account Logout-->
	<message name="accountLogoutRequest">
        <part name="parameters" element="tns:accountLogoutRequest"/>
    </message>
    <message name="accountLogoutResponse">
        <part name="parameters" element="tns:accountLogoutResponse"/>
    </message>
     <!--Check Session-->
	<message name="accountSessionRequest">
        <part name="parameters" element="tns:accountSessionRequest"/>
    </message>
    <message name="accountSessionResponse">
        <part name="parameters" element="tns:accountSessionResponse"/>
    </message>
     <!--Check CinemaOwner-->
	<message name="cinemaOwnerRequest">
        <part name="parameters" element="tns:cinemaOwnerRequest"/>
    </message>
    <message name="cinemaOwnerResponse">
        <part name="parameters" element="tns:cinemaOwnerResponse"/>
    </message>
    <!--Check RestaurantOwner-->
	<message name="restaurantOwnerRequest">
        <part name="parameters" element="tns:restaurantOwnerRequest"/>
    </message>
    <message name="restaurantOwnerResponse">
        <part name="parameters" element="tns:restaurantOwnerResponse"/>
    </message>
	
	<!--Fault Messages-->
	 <message name="getRestaurantInfoFault">
        <part name="parameters" element="tns:getRestaurantInfoFault"/>
    </message>
	<message name="getCinemaInfoFault">
        <part name="parameters" element="tns:getCinemaInfoFault"/>
    </message>
	<message name="bookingCinemaFault">
        <part name="parameters" element="tns:bookingCinemaFault"/>
    </message>
	<message name="bookingRestaurantFault">
        <part name="parameters" element="tns:bookingRestaurantFault"/>
    </message>
	<message name="insertRestaurantFault">
        <part name="parameters" element="tns:insertRestaurantFault"/>
    </message>
	<message name="updateRestaurantFault">
        <part name="parameters" element="tns:updateRestaurantFault"/>
    </message>
	<message name="insertCinemaFault">
        <part name="parameters" element="tns:insertRestaurantFault"/>
    </message>
	<message name="updateCinemaFault">
        <part name="parameters" element="tns:updateRestaurantFault"/>
    </message>
    <message name="accountSignupFault">
        <part name="parameters" element="tns:accountLoginFault"/>
    </message>
    <message name="accountLoginFault">
        <part name="parameters" element="tns:accountLoginFault"/>
    </message>
    <message name="accountLogoutFault">
        <part name="parameters" element="tns:accountLogoutFault"/>
    </message>
    <message name="accountSessionFault">
        <part name="parameters" element="tns:accountSessionFault"/>
    </message>
    <message name="cinemaOwnerFault">
        <part name="parameters" element="tns:accountSessionFault"/>
    </message>
    <message name="restaurantOwnerFault">
        <part name="parameters" element="tns:accountSessionFault"/>
    </message>
		
	<!-- PORT -->
	<portType name="enjoyReservationPT">
        <operation name="getCinemaInfo">
            <input  name="getCinemaInfoRequest" message="tns:getCinemaInfoRequest" />
            <output name="getCinemaInfoResponse" message="tns:getCinemaInfoResponse"/>
			<fault name="getCinemaInfoFault" message="tns:getCinemaInfoFault"/>
        </operation>
		<operation name="getRestaurantInfo">
            <input  name="getRestaurantInfoRequest" message="tns:getRestaurantInfoRequest" />
            <output name="getRestaurantInfoResponse" message="tns:getRestaurantInfoResponse"/>
			<fault name="getRestaurantInfoFault" message="tns:getRestaurantInfoFault"/>
        </operation>
        <operation name="getSingleRestaurantInfo">
			<input name="getSingleRestaurantInfoRequest" message="tns:getSingleRestaurantInfoRequest" />
			<output name="getSingleRestaurantInfoResponse" message="tns:getSingleRestaurantInfoResponse" />
			<fault name="getRestaurantInfoFault" message="tns:getRestaurantInfoFault" />
		</operation>
        <operation name="getSingleCinemaInfo">
			<input name="getSingleCinemaInfoRequest" message="tns:getSingleCinemaInfoRequest" />
			<output name="getSingleCinemaInfoResponse" message="tns:getSingleCinemaInfoResponse" />
			<fault name="getCinemaInfoFault" message="tns:getCinemaInfoFault" />
		</operation>
		<operation name="cinemaBooking">
            <input  name="bookingCinemaRequest" message="tns:bookingCinemaRequest" />
            <output name="bookingCinemaResponse" message="tns:bookingCinemaResponse"/>
			<fault name="bookingCinemaFault" message="tns:bookingCinemaFault"/>
        </operation>
		<operation name="restaurantBooking">
            <input name="bookingRestaurantRequest" message="tns:bookingRestaurantRequest" />
            <output name="bookingRestaurantResponse" message="tns:bookingRestaurantResponse"/>
			<fault name="bookingRestaurantFault" message="tns:bookingRestaurantFault"/>
        </operation>
		<operation name="insertRestaurant">
            <input name="insertRestaurantRequest" message="tns:insertRestaurantRequest" />
            <output name="insertRestaurantResponse" message="tns:insertRestaurantResponse"/>
			<fault name="insertRestaurantFault" message="tns:insertRestaurantFault"/>
        </operation>
		<operation name="updateRestaurant">
            <input name="updateRestaurantRequest" message="tns:updateRestaurantRequest" />
            <output name="updateRestaurantResponse" message="tns:updateRestaurantResponse"/>
			<fault name="updateRestaurantFault" message="tns:updateRestaurantFault"/>
        </operation>
		<operation name="insertCinema">
            <input name="insertCinemaRequest" message="tns:insertCinemaRequest" />
            <output name="insertCinemaResponse" message="tns:insertCinemaResponse"/>
			<fault name="insertCinemaFault" message="tns:insertCinemaFault"/>
        </operation>
		<operation name="updateCinema">
            <input name="updateCinemaRequest" message="tns:updateCinemaRequest" />
            <output name="updateCinemaResponse" message="tns:updateCinemaResponse"/>
			<fault name="updateCinemaFault" message="tns:updateCinemaFault"/>
        </operation>
         <operation name="userSignup">
            <input name="accountSignupRequest" message="tns:accountSignupRequest" />
            <output name="accountSignupResponse" message="tns:accountSignupResponse"/>
			<fault name="accountSignupFault" message="tns:accountSignupFault"/>
        </operation>		
        <operation name="userLogin">
            <input name="accountLoginRequest" message="tns:accountLoginRequest" />
            <output name="accountLoginResponse" message="tns:accountLoginResponse"/>
			<fault name="accountLoginFault" message="tns:accountLoginFault"/>
        </operation>	
        <operation name="userLogout">
            <input name="accountLogoutRequest" message="tns:accountLogoutRequest" />
            <output name="accountLogoutResponse" message="tns:accountLogoutResponse"/>
			<fault name="accountLogoutFault" message="tns:accountLogoutFault"/>
        </operation>	
        <operation name="accountSession">
            <input name="accountSessionRequest" message="tns:accountSessionRequest" />
            <output name="accountSessionResponse" message="tns:accountSessionResponse"/>
			<fault name="accountSessionFault" message="tns:accountSessionFault"/>
        </operation>	
        <operation name="checkCinemaOwner">
            <input name="cinemaOwnerRequest" message="tns:cinemaOwnerRequest" />
            <output name="cinemaOwnerResponse" message="tns:cinemaOwnerResponse"/>
			<fault name="cinemaOwnerFault" message="tns:cinemaOwnerFault"/>
        </operation>	
         <operation name="checkRestaurantOwner">
            <input name="restaurantOwnerRequest" message="tns:restaurantOwnerRequest" />
            <output name="restaurantOwnerResponse" message="tns:restaurantOwnerResponse"/>
			<fault name="restaurantOwnerFault" message="tns:restaurantOwnerFault"/>
        </operation>	
    </portType>
		
	<!--BINDING-->
	<binding name="enjoyReservationBinding" type="tns:enjoyReservationPT">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="getCinemaInfo">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="getRestaurantInfo">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="getSingleRestaurantInfo">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="getSingleCinemaInfo">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="cinemaBooking">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="restaurantBooking">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="insertRestaurant">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="updateRestaurant">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="insertCinema">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
		<operation name="updateCinema">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="userSignup">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="userLogin">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="userLogout">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="accountSession">
    		<soap:operation soapAction="" />    	
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
   
    </binding>
	
	<!-- SERVICE-->
	<service name="EnjoyReservationService">
    	<port name="enjoyReservationPort" binding="tns:enjoyReservationBinding">
    		<soap:address location="http://localhost:8080/enjoyreservation/services/enjoyreservation" />
    	</port>
    </service>
</definitions>