cinemaBooking/src/main/resources/cinemaBooking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CinemaBookingService"
	targetNamespace="http://it.univaq.disim.sose.cald/cinemaBooking" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:tns="http://it.univaq.disim.sose.cald/cinemaBooking"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
			<xsd:schema targetNamespace="http://it.univaq.disim.sose.cald/cinemaBooking">
				<xsd:element name="cinemaBookingRequest" type="tns:cinemaBookingRequest" />
				<xsd:element name="cinemaBookingResponse" type="tns:cinemaBookingResponse" />
				<xsd:element name="cinemaBookingFault" type="tns:cinemaBookingFault" />
				<xsd:complexType name="cinemaBookingRequest">
					<xsd:sequence>
						<xsd:element name="id_hall" type="xsd:int"/>
						<xsd:element name="id_film" type="xsd:int"/>
						<xsd:element name="id_utente" type="xsd:int"/>
						<xsd:element name="seats" type="xsd:int"/>
						<xsd:element name="schedule" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="cinemaBookingResponse">
					<xsd:sequence>
						<xsd:element name="accepted" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="cinemaBookingFault">
					<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:schema>
	</types>
	<message name="cinemaBookingRequest">
		<part name="parameters" element="tns:cinemaBookingRequest">
		</part>
	</message>
	<message name="cinemaBookingResponse">
		<part name="parameters" element="tns:cinemaBookingResponse">
		</part>
	</message>
	<message name="cinemaBookingFault">
		<part name="parameters" element="tns:cinemaBookingFault">
		</part>
	</message>
	<portType name="cinemaBookingPT">
			<operation name="cinemaBooking">
				<input message="tns:cinemaBookingRequest"
					wsam:Action="http://it.univaq.disim.sose.cald/cinemaBooking/cinemaBookingRequest">
				</input>
				<output message="tns:cinemaBookingResponse"
					wsam:Action="http://it.univaq.disim.sose.cald/cinemaBooking/cinemaBookingResponse">
				</output>
				<fault name="cinemaBookingFault" message="tns:cinemaBookingFault" 
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaBooking/cinemaBookingFault">
				</fault>
			</operation>
	</portType>
		<binding name="cinemaBookingBinding" type="tns:cinemaBookingPT">
			<soap:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http" />
			<operation name="cinemaBooking">
				<soap:operation soapAction="" />
				<input>
					<soap:body use="literal" />
				</input>
				<output>
					<soap:body use="literal" />
				</output>
			</operation>
		</binding>
		<service name="CinemaBookingService">
			<port name="cinemaBookingPort" binding="tns:cinemaBookingBinding">
				<soap:address location="http://localhost:8080/cinemaBooking/services/cinemaBooking" />
			</port>
		</service>
</definitions>