enjoyReservation/src/main/resources/clients/cinemaInserting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="cinemaInsertingService"
	targetNamespace="http://it.univaq.disim.sose.cald/cinemaInserting" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:tns="http://it.univaq.disim.sose.cald/cinemaInserting"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.cald/cinemaInserting">
			<xsd:element name="cinemaInsertRequest" type="tns:cinemaInsertRequest" />
			<xsd:element name="cinemaInsertResponse" type="tns:cinemaInsertResponse" />
			<xsd:element name="cinemaInsertFault" type="tns:cinemaInsertFault" />
			<xsd:element name="cinemaUpdateRequest" type="tns:cinemaUpdateRequest" />
			<xsd:element name="cinemaUpdateResponse" type="tns:cinemaUpdateResponse" />
			<xsd:element name="cinemaUpdateFault" type="tns:cinemaUpdateFault" />
			<xsd:element name="cinemaDeleteRequest" type="tns:cinemaDeleteRequest" />
			<xsd:element name="cinemaDeleteResponse" type="tns:cinemaDeleteResponse" />
			<xsd:element name="cinemaDeleteFault" type="tns:cinemaDeleteFault" />
			
			<!-- Cinema Insert Info -->
			<!-- Request -->
			<xsd:complexType name="cinemaInsertRequest">
				<xsd:sequence>
					<xsd:element name="cinema" type="tns:cinemaType" />
					<xsd:element name="id" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="cinemaType">
				<xsd:sequence>
					<xsd:element name="lat" type="xsd:double" />
					<xsd:element name="lon" type="xsd:double" />
					<xsd:element name="cinemaInfo" type="tns:cinemaInfoType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="cinemaInfoType">
				<xsd:sequence>
					<xsd:element name="id_cinema" minOccurs="0" type="xsd:long" />
					<xsd:element name="name" minOccurs="0" type="xsd:string" />
					<xsd:element name="address" type="xsd:string" />
					<xsd:element name="cap" type="xsd:string" />
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="telephoneNumber" minOccurs="0" type="xsd:string" />
					<xsd:element name="hall" maxOccurs="unbounded" minOccurs="1" type="tns:hallType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="hallType">
				<xsd:sequence>
					<xsd:element name="id_hall" minOccurs="0" type="xsd:long" />
					<xsd:element name="number" type="xsd:int" />
					<xsd:element name="seatsNumber" type="xsd:int" />
					<xsd:element name="hallInfo" maxOccurs="unbounded" minOccurs="1" type="tns:hallInfoType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="hallInfoType">
				<xsd:sequence>
					<xsd:element name="id_hallFilm" minOccurs="0" type="xsd:long" />
					<xsd:element name="time" type="xsd:dateTime" />
					<xsd:element name="film" type="tns:filmType" />
					<xsd:element name="price" type="xsd:float" />
					<xsd:element name="freeSeatsNumber" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="filmType">
				<xsd:sequence>
					<xsd:element name="id_film" minOccurs="0" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="director" type="xsd:string" />
					<xsd:element name="cast" type="xsd:string" />
					<xsd:element name="duration" type="xsd:int" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="plot" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Response -->
			<xsd:complexType name="cinemaInsertResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault -->
			<xsd:complexType name="cinemaInsertFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Cinema Update -->
			<!-- Request -->
			<xsd:complexType name="cinemaUpdateRequest">
				<xsd:sequence>
					<xsd:element name="cinema" type="tns:cinemaType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="cinemaUpdateResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault -->
			<xsd:complexType name="cinemaUpdateFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Cinema Delete -->
			<!-- Request -->
			<xsd:complexType name="cinemaDeleteRequest">
				<xsd:sequence>
					<xsd:element name="hallFilm_id" minOccurs="0" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="cinemaDeleteResponse">
				<xsd:sequence>
					<xsd:element name="accepted" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault -->
			<xsd:complexType name="cinemaDeleteFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!-- Message -->
	<!-- Cinema Insert -->
	<message name="cinemaInsertRequest">
		<part name="parameters" element="tns:cinemaInsertRequest">
		</part>
	</message>
	<message name="cinemaInsertResponse">
		<part name="parameters" element="tns:cinemaInsertResponse">
		</part>
	</message>
	<message name="cinemaInsertFault">
		<part name="parameters" element="tns:cinemaInsertFault">
		</part>
	</message>
	
	<!-- Cinema Update -->
	<message name="cinemaUpdateRequest">
		<part name="parameters" element="tns:cinemaUpdateRequest">
		</part>
	</message>
	<message name="cinemaUpdateResponse">
		<part name="parameters" element="tns:cinemaUpdateResponse">
		</part>
	</message>
	<message name="cinemaUpdateFault">
		<part name="parameters" element="tns:cinemaUpdateFault">
		</part>
	</message>
	
	<!-- Cinema Delete -->
	<message name="cinemaDeleteRequest">
		<part name="parameters" element="tns:cinemaDeleteRequest">
		</part>
	</message>
	<message name="cinemaDeleteResponse">
		<part name="parameters" element="tns:cinemaDeleteResponse">
		</part>
	</message>
	<message name="cinemaDeleteFault">
		<part name="parameters" element="tns:cinemaDeleteFault">
		</part>
	</message>
	
	<!-- Port -->
	<portType name="cinemaPT">
		<operation name="cinemaInsert">
			<input message="tns:cinemaInsertRequest"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaInsertRequest">
			</input>
			<output message="tns:cinemaInsertResponse"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaInsertResponse">
			</output>
			<fault message="tns:cinemaInsertFault" name="cinemaInsertFault">
			</fault>
		</operation>
		<operation name="cinemaUpdate">
			<input message="tns:cinemaUpdateRequest"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaUpdateRequest">
			</input>
			<output message="tns:cinemaUpdateResponse"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaUpdateResponse">
			</output>
			<fault message="tns:cinemaUpdateFault" name="cinemaUpdateFault">
			</fault>
		</operation>
		<operation name="cinemaDelete">
			<input message="tns:cinemaDeleteRequest"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaDeleteRequest">
			</input>
			<output message="tns:cinemaDeleteResponse"
				wsam:Action="http://it.univaq.disim.sose.cald/cinemaInserting/cinemaDeleteResponse">
			</output>
			<fault name="cinemaDeleteFault" message="tns:cinemaDeleteFault"></fault>
		</operation>
	</portType>
	
	<!-- Binding -->
	<binding name="cinemaBinding" type="tns:cinemaPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="cinemaInsert">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cinemaUpdate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cinemaDelete">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<!-- Service -->
	<service name="cinemaInsertingService">
		<port name="cinemaPort" binding="tns:cinemaBinding">
			<soap:address location="http://localhost:8080/cinemainserting/services/cinemainserting" />
		</port>
	</service>
</definitions>
